$color-1: orange;
$color-2: gray;
$color-3: blue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
  background-color: $color-1;

  ul li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: $font-sm;
    color: $color-2;

    &:hover {
      color: $color-3;
    }
  }
}

@mixin headings($fontSize: 50px) {
  font-size: $fontSize;
  color: $color-2;
  text-align: center;
}

@mixin transition($param...){
  transition: $param;
}

.banner h1 {
  @include headings($font-lg);
}

.footer h3 {
  @include headings($font-md);

  &:hover {
    @include transition(color .5, background-color .3);
    background-color: $color-1;
    color: $color-3;
  }
}